<div class="jumbotron center"
<h1>About</h1>
<p>We're currently working on an application that allows you to better manage your network. Find me at:</p>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
   Social Profiles
   <span class="caret"></span>
   </button>
  	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    	  <li><a href="https://www.linkedin.com/in/sharpestuart/">LinkedIn</a></li>
    	  <li><a href="https://medium.com/@sharpeshooter87">Medium</a></li>
    	  <li><a href="https://github.com/stuartsharpe11">Github</a></li>
  	  </ul>
</div>
</div>