<div class="jumbotron center">
	<h1>Cliq</h1>
	<p>A better way to manage your network</p>
	<p>
       <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
  </p>
</div>
